<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<%- include('../../partials/head', { title }) %>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_app_body" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
  <!--begin::Theme mode setup on page load-->
  <%- include('../../partials/theme-mode.ejs') %>
  <!--end::Theme mode setup on page load-->
  <!--begin::App-->
  <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
      <!--begin::Header-->
      <%- include('../../partials/header', { user }) %>
      <!--end::Header-->
      <!--begin::Wrapper-->
      <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <!--begin::Sidebar-->
        <%- include('../../partials/sidebar') %>
        <!--end::Sidebar-->
        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
          <!--begin::Content wrapper-->
          <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Toolbar-->
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
              <!--begin::Toolbar container-->
              <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                  <!--begin::Title-->
                  <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                    Umrah Offers
                  </h1>
                  <!--end::Title-->
                  <!--begin::Breadcrumb-->
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                      <a href="../../index.html" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Umrah Offers</li>
                    <!--end::Item-->
                  </ul>
                  <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
              </div>
              <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Content-->
            <div id="kt_app_content" class="app-content flex-column-fluid">
              <!--begin::Content container-->
              <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Card-->
                <div class="card">
                  <!--begin::Card header-->
                  <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                      <!--begin::Search-->
                      <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                        <input type="text" data-kt-content-umrah-offers-table-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Search Umrah Offers..." />
                      </div>
                      <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                      <!--begin::Toolbar-->
                      <div class="d-flex justify-content-end" data-kt-content-umrah-offers-table-toolbar="base">
                        <!--begin::Add Package-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_content_umrah_offers_add_modal">
                          <i class="ki-duotone ki-plus fs-2"></i>
                          Add Offer
                        </button>
                        <!--end::Add Package-->
                      </div>
                      <!--end::Toolbar-->
                      <!--begin::Group actions-->
                      <div class="d-flex justify-content-end align-items-center d-none" data-kt-content-umrah-offers-table-toolbar="selected">
                        <div class="fw-bold me-5">
                          <span class="me-2" data-kt-content-umrah-offers-table-select="selected_count"></span>Selected
                        </div>
                        <button type="button" class="btn btn-danger" data-kt-content-umrah-offers-table-select="delete_selected">
                          Delete Selected
                        </button>
                      </div>
                      <!--end::Group actions-->
                    </div>
                    <!--end::Card toolbar-->
                  </div>
                  <!--end::Card header-->
                  <!--begin::Card body-->
                  <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_content_umrah_offers_table" `>
                      <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                          <th class="w-10px pe-2">
                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                              <input class="form-check-input form-check-input-toggle" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_content_umrah_offers_table .form-check-input-toggle" value="1" />
                            </div>
                          </th>
                          <th class="min-w-125px">Thumbnail</th>
                          <th class="min-w-125px">Title</th>
                          <th class="min-w-125px">Location</th>
                          <th class="min-w-125px">Duration</th>
                          <th class="min-w-125px">Inclusion</th>
                          <th class="min-w-125px">Price</th>
                          <th class="min-w-125px">Status</th>
                          <th class="min-w-125px">Last Modified</th>
                          <th class="text-end min-w-100px">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="text-gray-600 fw-semibold">
                        <% umrahOffers?.forEach((offer) => { %>
                          <tr>
                            <td>
                              <div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input form-check-input-toggle" type="checkbox" value="1" />
                              </div>
                            </td>
                            <td>
                              <div class="symbol symbol-40px">
                                <img src="<%= offer.thumbnail %>" alt="" />
                              </div>
                            </td>
                            <td><%= offer.title %></td>
                            <td><%= offer.location %></td>
                            <td><%= offer.duration %> Days | <%= offer.duration - 1 %> Nights</td>
                            <td><%= offer.inclusions.join(", ") %></td>
                            <td><%= offer.price %> BDT</td>
                            <td>
                              <div class="form-check form-switch form-check-solid">
                                <label class="form-check-label">
                                  <input
                                    class="form-check-input form-check-input-custom" type="checkbox" <% if (offer?.status === 'active') { %> checked <% } %> value="<%= offer.status %>" data-kt-umrah-offer-url="/api/settings/content/umrah-offers/<%= offer?._id %>/status"
                                  />
                                  <span class="enabled">Active</span>
                                  <span class="disabled">Disabled</span>
                                </label>
                              </div>
                            </td>
                            <td><%= new Date(offer.createdAt).toLocaleString() %></td>
                            <td class="text-end">
                              <a
                                href="#"
                                class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm"
                                data-kt-menu-trigger="click"
                                data-kt-menu-placement="bottom-end"
                              >
                                Actions
                                <i class="ki-duotone ki-down fs-5 ms-1"></i>
                              </a>
                              <!--begin::Menu-->
                              <div
                                class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4"
                                data-kt-menu="true"
                              >
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                  <a
                                    href="/api/settings/content/umrah-offers/<%= offer?._id %>" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_content_umrah_offers_edit_modal"
                                    data-kt-content-umrah-offers-table-filter="edit_row" 
                                  >
                                    Edit
                                  </a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                  <a
                                    href="/api/settings/content/umrah-offers/<%= offer?._id %>" class="menu-link px-3" data-kt-content-umrah-offers-table-filter="delete_row"
                                        data-umrah-id="<%= offer?._id %>"
                                  >
                                    Delete
                                  </a>
                                </div>
                                <!--end::Menu item-->
                              </div>
                              <!--end::Menu-->
                            </td>
                          </tr>
                        <% }); %>

                      </tbody>
                    </table>
                    <!--end::Table-->
                  </div>
                  <!--end::Card body-->
                </div>
                <!--end::Card-->
              </div>
              <!--begin::Modals-->
              <!--begin::Modal - Add Package Duration-->
              <div class="modal fade" id="kt_content_umrah_offers_add_modal" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">
                  <!--begin::Modal content-->
                  <div class="modal-content">
                    <!--begin::Modal header-->
                    <div class="modal-header">
                      <!--begin::Modal title-->
                      <h2 class="fw-bolder">Add Umrah Offer</h2>
                      <!--end::Modal title-->
                      <!--begin::Close-->
                      <div id="kt_content_umrah_offers_add_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                        <i class="bi bi-x fs-2x"></i>
                      </div>
                      <!--end::Close-->
                    </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                      <!--begin::Form-->
                      <form id="kt_content_umrah_offers_add_form" class="form" action="/api/settings/content/umrah-offers" method="post">
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="form-label required">Thumbnail</label>
                          <!--end::Label-->
                          <!--begin::Input group-->
                          <div class="fv-row">
                            <!--begin::Preview Container-->
                            <div class="kt-file-uploader">
                              <!--begin::Message-->
                              <label class="kt-file-uploader-label d-flex flex-column flex-xl-row align-items-center align-items-xl-start text-center text-xl-start" for="kt_file_umrah_offers_add_thumbnail">
                                <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span>
                                </i>
                                <!--begin::Info-->
                                <div class="ms-xl-4 mt-4 mt-xl-0">
                                  <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                                    Upload thumbnail
                                  </h3>
                                  <span class="fs-7 fw-semibold text-gray-500">
                                    PNG, JPG, JPEG, GIF up to 10MB
                                  </span>
                                </div>
                                <!--end::Info-->
                              </label>
                              <!--end::Message-->
                              <!--begin::Input-->
                              <input type="file" name="thumbnail" id="kt_file_umrah_offers_add_thumbnail" accept=".png, .jpg, .jpeg" data-kt-file-uploader-max-size="10" hidden class="d-none" />
                              <!--begin::Error Message -->
                              <div class="invalid-feedback d-block"></div>
                              <!--end::Error Message-->
                            </div>
                            <!--end::Preview Container-->
                          </div>
                          <!--end::Input group-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Title:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="title" class="form-control form-control-solid" placeholder="Enter title" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Location:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="location" class="form-control form-control-solid" placeholder="Enter location" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Duration:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <select data-control="select2" data-placeholder="Select a duration" data-hide-search="true" name="duration" class="form-select form-select-solid">
                            <option></option>
                            <option value=15>
                              15 Days | 14 Nights
                            </option>
                            <option value=20>
                              20 Days | 19 Nights
                            </option>
                            <option value=25>
                              25 Days | 24 Nights
                            </option>
                            <option value=30>
                              30 Days | 29 Nights
                            </option>
                          </select>
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Inclusion
                          </label>
                          <!--end::Label-->
                          <!--begin::Options-->
                          <div class="d-flex flex-wrap gap-4">
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="flight" id="kt_content_umrah_offers_add_inclusion_1" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_1">
                                Flight
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="hotel" id="kt_content_umrah_offers_add_inclusion_2" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_2">
                                Hotel
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="visa" id="kt_content_umrah_offers_add_inclusion_3" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_3">
                                Visa
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="food" id="kt_content_umrah_offers_add_inclusion_4" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_4">
                                Food
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="transport" id="kt_content_umrah_offers_add_inclusion_5" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_5">
                                Transport
                              </label>
                            </div>
                          </div>
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Price:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="price" class="form-control form-control-solid" placeholder="Enter price" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Link:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="link" class="form-control form-control-solid" placeholder="Enter link" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Status:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <select data-control="select2" data-placeholder="Select a status" data-hide-search="true" name="status" class="form-select form-select-solid">
                            <option></option>
                            <option value="active">Active</option>
                            <option value="disabled">Disabled</option>
                          </select>
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="text-center">
                          <button type="reset" id="kt_content_umrah_offers_add_cancel" class="btn btn-light me-3">
                            Discard
                          </button>
                          <button type="submit" id="kt_content_umrah_offers_add_submit" class="btn btn-primary">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                          </button>
                        </div>
                        <!--end::Actions-->
                      </form>
                      <!--end::Form-->
                    </div>
                    <!--end::Modal body-->
                  </div>
                  <!--end::Modal content-->
                </div>
                <!--end::Modal dialog-->
              </div>
              <!--end::Modal - Add Package Duration-->
              <!--begin::Modal - Edit Package Duration-->
              <div class="modal fade" id="kt_content_umrah_offers_edit_modal" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">
                  <!--begin::Modal content-->
                  <div class="modal-content">
                    <!--begin::Modal header-->
                    <div class="modal-header">
                      <!--begin::Modal title-->
                      <h2 class="fw-bolder">Edit Umrah Offer</h2>
                      <!--end::Modal title-->
                      <!--begin::Close-->
                      <div id="kt_content_umrah_offers_edit_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                        <i class="bi bi-x fs-2x"></i>
                      </div>
                      <!--end::Close-->
                    </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                      <!--begin::Form-->
                      <form id="kt_content_umrah_offers_edit_form" class="form" action="/api/settings/content/umrah-offers" method="post">
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="form-label required">Thumbnail</label>
                          <!--end::Label-->
                          <!--begin::Input group-->
                          <div class="fv-row">
                            <!--begin::Preview Container-->
                            <div class="kt-file-uploader">
                              <!--begin::Message-->
                              <label class="kt-file-uploader-label d-flex flex-column flex-xl-row align-items-center align-items-xl-start text-center text-xl-start" for="kt_file_umrah_offers_edit_thumbnail">
                                <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span>
                                </i>
                                <!--begin::Info-->
                                <div class="ms-xl-4 mt-4 mt-xl-0">
                                  <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                                    Upload thumbnail
                                  </h3>
                                  <span class="fs-7 fw-semibold text-gray-500">
                                    PNG, JPG, JPEG, GIF up to 10MB
                                  </span>
                                </div>
                                <!--end::Info-->
                              </label>
                              <!--end::Message-->
                              <!--begin::Input-->
                              <input type="file" name="thumbnail" id="kt_file_umrah_offers_edit_thumbnail" accept=".png, .jpg, .jpeg" data-kt-file-uploader-max-size="10" hidden class="d-none" />
                              <!--begin::Error Message -->
                              <div class="invalid-feedback d-block"></div>
                              <!--end::Error Message-->
                            </div>
                            <!--end::Preview Container-->
                          </div>
                          <!--end::Input group-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Title:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="title" class="form-control form-control-solid" placeholder="Enter title" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Location:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="location" class="form-control form-control-solid" placeholder="Enter location" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Duration:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <select data-control="select2" data-placeholder="Select a duration" data-hide-search="true" name="duration" class="form-select form-select-solid">
                            <option></option>
                            <option value=15>
                              15 Days | 14 Nights
                            </option>
                            <option value=20>
                              20 Days | 19 Nights
                            </option>
                            <option value=25>
                              25 Days | 24 Nights
                            </option>
                            <option value=30>
                              30 Days | 29 Nights
                            </option>
                          </select>
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Inclusion
                          </label>
                          <!--end::Label-->
                          <!--begin::Options-->
                          <div class="d-flex flex-wrap gap-4">
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="flight" id="kt_content_umrah_offers_add_inclusion_1" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_1">
                                Flight
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="hotel" id="kt_content_umrah_offers_add_inclusion_2" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_2">
                                Hotel
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="visa" id="kt_content_umrah_offers_add_inclusion_3" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_3">
                                Visa
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="food" id="kt_content_umrah_offers_add_inclusion_4" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_4">
                                Food
                              </label>
                            </div>
                            <div class="form-check form-check-custom form-check-solid">
                              <input name="inclusions" class="form-check-input" type="checkbox" value="transport" id="kt_content_umrah_offers_add_inclusion_5" />
                              <label class="form-check-label" for="kt_content_umrah_offers_add_inclusion_5">
                                Transport
                              </label>
                            </div>
                          </div>
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Price:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="price" class="form-control form-control-solid" placeholder="Enter price" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Link:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <input type="text" name="link" class="form-control form-control-solid" placeholder="Enter link" />
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-10">
                          <!--begin::Label-->
                          <label class="fs-5 fw-semibold form-label mb-5 required">
                            Status:
                          </label>
                          <!--end::Label-->
                          <!--begin::Input-->
                          <select data-control="select2" data-placeholder="Select a status" data-hide-search="true" name="status" class="form-select form-select-solid">
                            <option></option>
                            <option value="Active">Active</option>
                            <option value="Disabled">Disabled</option>
                          </select>
                          <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="text-center">
                          <button type="reset" id="kt_content_umrah_offers_edit_cancel" class="btn btn-light me-3">
                            Discard
                          </button>
                          <button type="submit" id="kt_content_umrah_offers_edit_submit" class="btn btn-primary">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                          </button>
                        </div>
                        <!--end::Actions-->
                      </form>
                      <!--end::Form-->
                    </div>
                    <!--end::Modal body-->
                  </div>
                  <!--end::Modal content-->
                </div>
                <!--end::Modal dialog-->
              </div>
              <!--end::Modal - Edit Package Duration-->
              <!--end::Modals-->
              <!--end::Content container-->
            </div>
            <!--end::Content-->
          </div>
          <!--end::Content wrapper-->
          <!--begin::Footer-->
          <%- include('../../partials/footer.ejs'); %>
          <!--end::Footer-->
        </div>
        <!--end:::Main-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
  <!--end::App-->
  <!--begin::Drawers-->
  <!--begin::Activities drawer-->
  <%- include('../../partials/activities-drawer.ejs'); %>
  <!--end::Activities drawer-->
  <!--end::Drawers-->
  <!--begin::Scrolltop-->
  <%- include('../../partials/scroll-top.ejs'); %>
  <!--end::Scrolltop-->
  <!--begin::Javascript-->
  <%- include('../../partials/footer-scripts.ejs', {
    vendorJavascripts: [
        '/assets/plugins/custom/datatables/datatables.bundle.js'
    ],
    customJavascripts: [
        '/assets/js/custom/apps/settings/content/umrah-offers/table.js',
        '/assets/js/custom/apps/settings/content/umrah-offers/add.js',
        '/assets/js/custom/apps/settings/content/umrah-offers/edit.js'
    ]
  }); %>
  <!--end::Javascript-->
</body>
<!--end::Body-->

</html>