<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<%- include('../../partials/head', { title }) %>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_app_body" data-kt-app-layout="light-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
  <!--begin::Theme mode setup on page load-->
  <%- include('../../partials/theme-mode.ejs') %>
  <!--end::Theme mode setup on page load-->
  <!--begin::App-->
  <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
      <!--begin::Header-->
      <%- include('../../partials/header', { user }) %>
      <!--end::Header-->
      <!--begin::Wrapper-->
      <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <!--begin::Sidebar-->
        <%- include('../../partials/sidebar') %>
        <!--end::Sidebar-->
        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
          <!--begin::Content wrapper-->
          <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Toolbar-->
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
              <!--begin::Toolbar container-->
              <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                  <!--begin::Title-->
                  <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                    Site Settings
                  </h1>
                  <!--end::Title-->
                  <!--begin::Breadcrumb-->
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                      <a href="../index.html" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Settings</li>
                    <!--end::Item-->
                  </ul>
                  <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
              </div>
              <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Content-->
            <div id="kt_app_content" class="app-content flex-column-fluid">
              <!--begin::Content container-->
              <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Card-->
                <div class="card card-flush">
                  <!--begin::Card body-->
                  <div class="card-body">
                    <!--begin:::Tabs-->
                    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-transparent fs-4 fw-semibold mb-15">
                      <!--begin:::Tab item-->
                      <li class="nav-item">
                        <a class="nav-link text-active-primary d-flex align-items-center pb-5 active" data-bs-toggle="tab" href="#kt_settings_general">
                          <i class="ki-duotone ki-home fs-2 me-2"></i>General</a>
                      </li>
                      <!--end:::Tab item-->
                      <!--begin:::Tab item-->
                      <li class="nav-item">
                        <a class="nav-link text-active-primary d-flex align-items-center pb-5" data-bs-toggle="tab" href="#kt_settings_contact">
                          <i class="ki-duotone ki-message-programming fs-2 me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                          </i>
                          Contact
                        </a>
                      </li>
                      <!--end:::Tab item-->
                      <!--begin:::Tab item-->
                      <li class="nav-item">
                        <a class="nav-link text-active-primary d-flex align-items-center pb-5" data-bs-toggle="tab" href="#kt_settings_general_policy">
                          <i class="ki-duotone ki-compass fs-2 me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                          Policy
                        </a>
                      </li>
                      <!--end:::Tab item-->
                      <!--begin:::Tab item-->
                      <li class="nav-item">
                        <a class="nav-link text-active-primary d-flex align-items-center pb-5" data-bs-toggle="tab" href="#kt_settings_additional">
                          <i class="ki-duotone ki-package fs-2 me-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                          </i>
                          Additional
                        </a>
                      </li>
                      <!--end:::Tab item-->
                    </ul>
                    <!--end:::Tabs-->
                    <!--begin:::Tab content-->
                    <div class="tab-content" id="myTabContent">
                      <!--begin:::Tab pane-->
                      <div class="tab-pane fade show active" id="kt_settings_general" role="tabpanel">
                        <!--begin::Form-->
                        <form id="kt_settings_general_form" class="form" action="/api/settings/site/general">
                          <!--begin::Heading-->
                          <div class="row mb-7">
                            <div class="col-md-9 offset-md-3">
                              <h2>General Settings</h2>
                            </div>
                          </div>
                          <!--end::Heading-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Website Logo</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Upload your website Logo.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-lg-6 col-xl-4">
                                  <!--begin::Input group-->
                                  <div class="fv-row">
                                    <!--begin::Preview Container-->
                                    <div class="kt-file-uploader">
                                      <!--begin::Message-->
                                      <label class="kt-file-uploader-label d-flex flex-column flex-xl-row align-items-center align-items-xl-start text-center text-xl-start" for="kt_file_uploader_logo">
                                        <% if (general?.logo) { %>
                                        <img src="/<%= general.logo %>" class="mw-100 mh-100px mb-5 mb-xl-0" alt="<%= general?.title %> Logo" />
                                        <% } else { %>
                                        <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>
                                        <!--begin::Info-->
                                        <div class="ms-xl-4 mt-4 mt-xl-0">
                                          <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                                            Upload logo
                                          </h3>
                                          <span class="fs-7 fw-semibold text-gray-500">
                                            PNG, JPG, JPEG, SVG up to 5MB
                                          </span>
                                        </div>
                                        <!--end::Info-->
                                        <% } %>
                                      </label>
                                      <!--end::Message-->
                                      <!--begin::Input-->
                                      <input type="file" name="logo" id="kt_file_uploader_logo" accept=".png,.jpg,.jpeg,.svg" data-kt-file-uploader-max-size="5" hidden class="d-none" />
                                    </div>
                                    <!--end::Preview Container-->
                                  </div>
                                  <!--end::Input group-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Website Favicon</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Upload your website favicon.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-lg-6 col-xl-4">
                                  <!--begin::Input group-->
                                  <div class="fv-row">
                                    <!--begin::Preview Container-->
                                    <div class="kt-file-uploader">
                                      <!--begin::Message-->
                                      <label class="kt-file-uploader-label d-flex flex-column flex-xl-row align-items-center align-items-xl-start text-center text-xl-start" for="kt_file_uploader_favicon">
                                        <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>
                                        <!--begin::Info-->
                                        <div class="ms-xl-4 mt-4 mt-xl-0">
                                          <h3 class="fs-5 fw-bold text-gray-900 mb-1">
                                            Upload favicon
                                          </h3>
                                          <span class="fs-7 fw-semibold text-gray-500">
                                            ICO, PNG, GIF, SVG up to 1MB
                                          </span>
                                        </div>
                                        <!--end::Info-->
                                      </label>
                                      <!--end::Message-->
                                      <!--begin::Input-->
                                      <input type="file" name="favicon" id="kt_file_uploader_favicon" accept=".ico,.png,.gif,.svg" data-kt-file-uploader-max-size="1" hidden class="d-none" />
                                    </div>
                                    <!--end::Preview Container-->
                                  </div>
                                  <!--end::Input group-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span class="required">Website Name</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the name of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="title" placeholder="" value="<%= general?.title %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Domain Name</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the domain names of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-lg-6">
                                  <!--begin::Input-->
                                  <input type="text" class="form-control form-control-solid" name="domains[]" placeholder="" value="<%= general?.domains?.[0] %>" />
                                  <!--end::Input-->
                                </div>
                                <div class="col-lg-6">
                                  <!--begin::Input-->
                                  <input type="text" class="form-control form-control-solid" name="domains[]" placeholder="" value="<%= general?.domains?.[1] %>" />
                                  <!--end::Input-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Website Description</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the description of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Textarea-->
                              <textarea class="form-control form-control-solid" name="description" data-kt-autosize="true" rows="5" placeholder=""><%= general?.description %></textarea>
                              <!--end::Textarea-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Action buttons-->
                          <div class="row py-5">
                            <div class="col-md-9 offset-md-3">
                              <div class="d-flex">
                                <!--begin::Button-->
                                <button type="reset" data-kt-settings-type="cancel" class="btn btn-light me-3">
                                  Reset
                                </button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" kt-settings-general-form-action="submit" class="btn btn-primary">
                                  <span class="indicator-label">Save</span>
                                  <span class="indicator-progress">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <!--end::Button-->
                              </div>
                            </div>
                          </div>
                          <!--end::Action buttons-->
                        </form>
                        <!--end::Form-->
                      </div>
                      <!--end:::Tab pane-->
                      <!--begin:::Tab pane-->
                      <div class="tab-pane fade" id="kt_settings_contact" role="tabpanel">
                        <!--begin::Form-->
                        <form id="kt_settings_contact_form" class="form" action="/api/settings/site/contact">
                          <!--begin::Heading-->
                          <div class="row mb-7">
                            <div class="col-md-9 offset-md-3">
                              <h2>Contact Settings</h2>
                            </div>
                          </div>
                          <!--end::Heading-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span class="required">Email Address</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website email address">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="email" placeholder="" value="<%= contact?.email %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span class="required">Phone Number</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website phone number">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="phone" placeholder="" value="<%= contact?.phone %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Facebook Link</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website facebook link">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="facebook" placeholder="" value="<%= contact?.facebook %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Twitter Link</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website twitter link">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="twitter" placeholder="" value="<%= contact?.twitter %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Instagram Link</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website instagram link">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="instagram" placeholder="" value="<%= contact?.instagram %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>YouTube Link</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website youtube link">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Input-->
                              <input type="text" class="form-control form-control-solid" name="youtube" placeholder="" value="<%= contact?.youtube %>" />
                              <!--end::Input-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span class="required">Office Address</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the website office address">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!--begin::Textarea-->
                              <textarea class="form-control form-control-solid" name="address" data-kt-autosize="true" rows="5" placeholder=""><%= contact?.address %></textarea>
                              <!--end::Textarea-->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Action buttons-->
                          <div class="row py-5">
                            <div class="col-md-9 offset-md-3">
                              <div class="d-flex">
                                <!--begin::Button-->
                                <button type="reset" data-kt-settings-type="cancel" class="btn btn-light me-3">
                                  Reset
                                </button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" kt-settings-contact-form-action="submit" class="btn btn-primary">
                                  <span class="indicator-label">Save</span>
                                  <span class="indicator-progress">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <!--end::Button-->
                              </div>
                            </div>
                          </div>
                          <!--end::Action buttons-->
                        </form>
                        <!--end::Form-->
                      </div>
                      <!--end:::Tab pane-->
                      <!--begin:::Tab pane-->
                      <div class="tab-pane fade" id="kt_settings_general_policy" role="tabpanel">
                        <!--begin::Form-->
                        <form id="kt_settings_policy_form" class="form" action="/api/settings/site/policy">
                          <!--begin::Heading-->
                          <div class="row mb-7">
                            <div class="col-md-9 offset-md-3">
                              <h2>Policy Settings</h2>
                            </div>
                          </div>
                          <!--end::Heading-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>About Us</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the about us policy of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!-- begin::About CKEditor -->
                              <textarea name="about-us" id="kt_docs_ckeditor_about_us"><%= policies?.['about-us'] %></textarea>
                              <!-- end::About CKEditor -->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Terms and conditions</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the terms and conditions policy of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!-- begin::About CKEditor -->
                              <textarea name="terms-and-conditions" id="kt_docs_ckeditor_toc"><%= policies?.['terms-and-conditions'] %></textarea>
                              <!-- end::About CKEditor -->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Refund policy</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the refund policy of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!-- begin::About CKEditor -->
                              <textarea name="refund-policy" id="kt_docs_ckeditor_refund_policy"><%= policies?.['refund-policy'] %></textarea>
                              <!-- end::About CKEditor -->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Input group-->
                          <div class="row fv-row mb-7">
                            <div class="col-md-3 text-md-end">
                              <!--begin::Label-->
                              <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Privacy policy</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Set the privacy policy of your website.">
                                  <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                  </i>
                                </span>
                              </label>
                              <!--end::Label-->
                            </div>
                            <div class="col-md-9">
                              <!-- begin::About CKEditor -->
                              <textarea name="privacy-policy" id="kt_docs_ckeditor_privacy_policy"><%= policies?.['privacy-policy'] %></textarea>
                              <!-- end::About CKEditor -->
                            </div>
                          </div>
                          <!--end::Input group-->
                          <!--begin::Action buttons-->
                          <div class="row py-5">
                            <div class="col-md-9 offset-md-3">
                              <div class="d-flex">
                                <!--begin::Button-->
                                <button type="reset" data-kt-settings-type="cancel" class="btn btn-light me-3">
                                  Cancel
                                </button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" kt-settings-policy-form-action="submit" class="btn btn-primary">
                                  <span class="indicator-label">Save</span>
                                  <span class="indicator-progress">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <!--end::Button-->
                              </div>
                            </div>
                          </div>
                          <!--end::Action buttons-->
                        </form>
                        <!--end::Form-->
                      </div>
                      <!--end:::Tab pane-->
                      <!--begin:::Tab pane-->
                      <div class="tab-pane fade" id="kt_settings_additional" role="tabpanel">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-6">
                          <!--begin::Card title-->
                          <div class="card-title">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                              <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                <span class="path1"></span>
                                <span class="path2"></span>
                              </i>
                              <input type="text" data-kt-additional-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search meta info." />
                            </div>
                            <!--end::Search-->
                          </div>
                          <!--begin::Card title-->
                          <!--begin::Card toolbar-->
                          <div class="card-toolbar">
                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end gap-3" data-kt-additional-table-toolbar="base">
                              <!--begin::Add user-->
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_additional">
                                <i class="ki-duotone ki-plus fs-2"></i>
                                Add Additional Info
                              </button>
                              <!--end::Add user-->
                            </div>
                            <!--end::Toolbar-->
                            <!--begin::Group actions-->
                            <div class="d-flex justify-content-end align-items-center d-none" data-kt-additional-table-toolbar="selected">
                              <div class="fw-bold me-5">
                                <span class="me-2" data-kt-additional-table-select="selected_count"></span>Selected
                              </div>
                              <button type="button" class="btn btn-danger" data-kt-additional-table-select="delete_selected">
                                Delete Selected
                              </button>
                            </div>
                            <!--end::Group actions-->
                          </div>
                          <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body py-4">
                          <!--begin::Table-->
                          <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_additional">
                            <thead>
                              <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2">
                                  <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_additional .form-check-input" value="1" />
                                  </div>
                                </th>
                                <th class="min-w-125px">Name</th>
                                <th class="min-w-125px">Content</th>
                                <th class="min-w-125px">Created At</th>
                                <th class="text-end min-w-100px">Actions</th>
                              </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                              <% meta.forEach(item => {%>
                              <tr>
                                <td>
                                  <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="<%= item._id %>" />
                                  </div>
                                </td>
                                <td><%= item.name %></td>
                                <td><%= item.content %></td>
                                <td><%= item.createdAt %></td>
                                <td class="text-end">
                                  <a href="#" class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                                    <i class="ki-duotone ki-down fs-5 ms-1"></i></a>
                                  <!--begin::Menu-->
                                  <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                      <a href="/api/settings/site/meta/<%= item._id %>" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_edit_additional">
                                        Edit
                                      </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                      <a href="/api/settings/site/meta/<%= item._id %>" class="menu-link px-3" data-kt-additional-table-filter="delete_row" data-kt-additional-action="delete">Delete</a>
                                    </div>
                                    <!--end::Menu item-->
                                  </div>
                                  <!--end::Menu-->
                                </td>
                              </tr>
                              <%})%>
                            </tbody>
                          </table>
                          <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                      </div>
                      <!--end:::Tab pane-->
                    </div>
                    <!--end:::Tab content-->
                  </div>
                  <!--end::Card body-->
                </div>
                <!--end::Card-->
              </div>
              <!--end::Content container-->
            </div>
            <!--end::Content-->
          </div>
          <!--end::Content wrapper-->
          <!--begin::Footer-->
          <%- include('../../partials/footer.ejs'); %>
          <!--end::Footer-->
        </div>
        <!--end:::Main-->
        <!-- begin::Modal -->
        <!--begin::Modal - Add Additional Meta Info-->
        <div class="modal fade" id="kt_modal_add_additional" tabindex="-1" aria-hidden="true">
          <!--begin::Modal dialog-->
          <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
              <!--begin::Modal header-->
              <div class="modal-header" id="kt_modal_add_additional_header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">Add Additional Info</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-additional-modal-action="close">
                  <i class="bi bi-x fs-2x"></i>
                </div>
                <!--end::Close-->
              </div>
              <!--end::Modal header-->
              <!--begin::Modal body-->
              <div class="modal-body px-5 my-7">
                <!--begin::Form-->
                <form id="kt_modal_add_additional_form" class="form" data-kt-redirect-url="/dashboard/settings/site" action="/api/settings/site/meta" method="post">
                  <!--begin::Scroll-->
                  <div class="d-flex flex-column scroll-y px-5 px-lg-10" id="kt_modal_add_additional_scroll" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_additional_header" data-kt-scroll-wrappers="#kt_modal_add_additional_scroll" data-kt-scroll-offset="300px">
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                      <!--begin::Label-->
                      <label class="required fw-semibold fs-6 mb-2">Name</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Meta Tag name" />
                      <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                      <!--begin::Label-->
                      <label class="required fw-semibold fs-6 mb-2">Content</label>
                      <!--end::Label-->
                      <!--begin::Textare-->
                      <textarea name="content" class="form-control form-control-solid" rows="3" placeholder="Meta tag content"></textarea>
                      <!--end::Textarea-->
                    </div>
                    <!--end::Input group-->
                  </div>
                  <!--end::Scroll-->
                  <!--begin::Actions-->
                  <div class="text-center pt-10">
                    <button type="reset" class="btn btn-light me-3" data-kt-additional-modal-action="cancel">
                      Discard
                    </button>
                    <button type="submit" class="btn btn-primary" data-kt-additional-modal-action="submit">
                      <span class="indicator-label">Submit</span>
                      <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                  </div>
                  <!--end::Actions-->
                </form>
                <!--end::Form-->
              </div>
              <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
          </div>
          <!--end::Modal dialog-->
        </div>
        <!--end::Modal - Add Additional Meta Info-->
        <!--begin::Modal - Add Additional Meta Info-->
        <div class="modal fade" id="kt_modal_edit_additional" tabindex="-1" aria-hidden="true">
          <!--begin::Modal dialog-->
          <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
              <!--begin::Modal header-->
              <div class="modal-header" id="kt_modal_edit_additional_header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">Update Additional Info</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-additional-modal-action="close">
                  <i class="bi bi-x fs-2x"></i>
                </div>
                <!--end::Close-->
              </div>
              <!--end::Modal header-->
              <!--begin::Modal body-->
              <div class="modal-body px-5 my-7">
                <!--begin::Form-->
                <form id="kt_modal_edit_additional_form" class="form" data-kt-redirect-url="/dashboard/settings/site" action="/api/settings/site/meta" method="post">
                  <!--begin::Scroll-->
                  <div class="d-flex flex-column scroll-y px-5 px-lg-10" id="kt_modal_edit_additional_scroll" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_edit_additional_header" data-kt-scroll-wrappers="#kt_modal_edit_additional_scroll" data-kt-scroll-offset="300px">
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                      <!--begin::Label-->
                      <label class="required fw-semibold fs-6 mb-2">Name</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Meta Tag name" />
                      <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                      <!--begin::Label-->
                      <label class="required fw-semibold fs-6 mb-2">Content</label>
                      <!--end::Label-->
                      <!--begin::Textare-->
                      <textarea name="content" class="form-control form-control-solid" rows="3" placeholder="Meta tag content"></textarea>
                      <!--end::Textarea-->
                    </div>
                    <!--end::Input group-->
                  </div>
                  <!--end::Scroll-->
                  <!--begin::Actions-->
                  <div class="text-center pt-10">
                    <button type="reset" class="btn btn-light me-3" data-kt-additional-modal-action="cancel">
                      Discard
                    </button>
                    <button type="submit" class="btn btn-primary" data-kt-additional-modal-action="submit">
                      <span class="indicator-label">Submit</span>
                      <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                  </div>
                  <!--end::Actions-->
                </form>
                <!--end::Form-->
              </div>
              <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
          </div>
          <!--end::Modal dialog-->
        </div>
        <!--end::Modal - Add Additional Meta Info-->
        <!-- begin::Modal -->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>
  <!--end::App-->
  <!--begin::Drawers-->
  <!--begin::Activities drawer-->
  <%- include('../../partials/activities-drawer.ejs'); %>
  <!--end::Activities drawer-->
  <!--end::Drawers-->
  <!--begin::Scrolltop-->
  <%- include('../../partials/scroll-top.ejs'); %>
  <!--end::Scrolltop-->
  <!--begin::Javascript-->
  <%- include('../../partials/footer-scripts.ejs', {
    vendorJavascripts: [
        '/assets/plugins/custom/datatables/datatables.bundle.js',
        '/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js',
    ],
    customJavascripts: [
        '/assets/js/custom/apps/settings/site/general.js',
        '/assets/js/custom/apps/settings/site/contact.js',
        '/assets/js/custom/apps/settings/site/policy.js',
        '/assets/js/custom/apps/settings/site/additional.js',
        '/assets/js/custom/apps/settings/site/additional-add.js',
        '/assets/js/custom/apps/settings/site/additional-edit.js',
    ]
  }); %>
  <!--end::Javascript-->
</body>
<!--end::Body-->

</html>